<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>MonopoSaver</title>
    <base href="/" />
    <link href="css/pico.lime.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="MonopoSaver.styles.css" rel="stylesheet" />
    <link href="manifest.json" rel="manifest" />       
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png" />
    <HeadOutlet @rendermode="@RenderMode.InteractiveServer" /> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> 
</head>

<body data-theme="light">
    <main>
        <Routes @rendermode="@RenderMode.InteractiveServer" />
    </main>
    <script src="_framework/blazor.web.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>

</html>
